@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/HelveticaNeue\ Light.woff2") format("woff2"),
       url("../assets/fonts/HelveticaNeue\ Light.woff") format("woff"),
       url("../assets/fonts/HelveticaNeue\ Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/HelveticaNeue\ Medium.woff2") format("woff2"),
       url("../assets/fonts/HelveticaNeue\ Medium.woff") format("woff"),
       url("../assets/fonts/HelveticaNeue\ Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/HelveticaNeue\ Bold.woff2") format("woff2"),
       url("../assets/fonts/HelveticaNeue\ Bold.woff") format("woff"),
       url("../assets/fonts/HelveticaNeue\ Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}