/* variables */

:root {
    --yellow: #cbe346;
    --blue-dark-1: #2b3049;
    --blue-dark-2: #273048;
    --white: #fff;
    --gray-light-1: #f3f4f8;
    --gray-light-2: #ebebeb;
    --gray-dark: #787878;   
}

/* / variables */

/* reset */

::selection {
    background-color: var(--blue-dark-1);
    color: var(--yellow);
}

body {
    color: var(--blue-dark-1);
    font-family: "HelveticaNeue", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.7;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

/* / reset */

/* reusable */

.btn {
    border: solid 1px;
    border-radius: 100px;
    font-size: 13px;
    letter-spacing: 1.01px;
    padding: 15px 31px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.btn--white {
    border-color: var(--white);
    color: var(--white);
}

.btn--white:focus,
.btn--white:hover {
    background-color: var(--white);
    color: var(--blue-dark-2);
}

.btn--blue {
    border-color: var(--blue-dark-2);
    color: var(--blue-dark-2);
}

.btn--blue:focus,
.btn--blue:hover {
    background-color: var(--blue-dark-2);
    color: var(--white);
}

/* / reusable */

/* mobile menu */



/* / mobile menu */

/* navigation */

.header {
    color: var(--white);
    display: flex;
        align-items: center;
        justify-content: space-between;
    font-size: 1rem;
    letter-spacing: 1.4px;
    width: 100%;
    padding: 44px 94px 44px 173px;
    position: absolute;
        top: 0;
        left: 0;
}

.header__logo-link {
    display: inline-block;
    position: absolute;
        top: 25px;
        left: 36px;
    z-index: 3;
}

.header__list {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.header__item {
    display: inline-block;
}

.header__item:not(:last-child) {
    margin-right: 3rem;
}

.header__link {
    padding-bottom: 0.125rem;
    position: relative;
}

.header__link::after {
    content: '';
    background-color: var(--white);
    backface-visibility: hidden;
    position: absolute;
        bottom: 0;
        left: 0;
    display: inline-block;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.header__link:visited::after,
.header__link:hover::after,
.header__link:focus::after {
    width: 100%;
}

.header__link-current::after {
    width: 17px;
}

.header__langs-list {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.header__langs-item:not(:last-child) {
    margin-right: 1rem;
}

.header__langs-item {
    font-weight: 100;
}

.header__lang-current {
    font-weight: 700;
}

/* / navigation */

/* hero */

.hero {
    background-color: var(--blue-dark-1);
    background-image: url("../assets/img/hero@3x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
        align-items: center;
    padding-left: 173px;
    /* position: relative; */
}

.hero::before {
    content: '';
    background-color: var(--white);
    border: solid 2px var(--white);
    position: absolute;
        left: 105px;
        top: 0;
    height: 105%;
    width: 1px;
}

.hero__info-box {
    max-width: 709px;
}

.hero__header {
    color: var(--white);
    font-size: 3.3125rem;
    line-height: 68px;
    margin-bottom: 2rem;
}

.hero__header-span {
    color: var(--yellow);
    text-transform: capitalize;
}

/* / hero */

/* story */

.story {
    background-color: var(--gray-light-1);
    padding: 72px 0 67px 0;
}

.story .container {
    margin: 0 auto;
    max-width: 1014px;
}

.story__row {
    display: flex;
        align-items: flex-start;
        justify-content: left;
    position: relative;
}

.story__box-left {
    color: var(--yellow);
    font-size: 0.9375rem;
    letter-spacing: 1.87px;
    line-height: 2;
    margin-right: 3.1875rem;
    margin-top: 2rem;
    max-width: 174px;
    text-align: right;
    text-transform: uppercase;
}

.story__box-middle {
    max-width: 555px;
}

.story__header {
    font-size: 3.125rem;
    letter-spacing: 0.06px;
    line-height: 1.14;
    margin-bottom: 1.5rem;
    max-width: 555px;
}

.story__header-span:nth-child(2) {
    display: block;
}

.story__info {
    color: var(--gray-dark);
    max-width: 393px;
}

.story__btn {
    position: absolute;
        right: 0;
        bottom: 0;
}

.story__btn-arrow {
    margin-left: 5.2rem;
}

/* / story */

/* rackets */

.rackets {
    display: flex;
}

.rackets__box-left {
    background-color: var(--blue-dark-1);
    background-image: url("../assets/img/ball-color-court@3x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--white);
    padding: 38px 71px 62px 160px;
    max-width: 530px;
}

.rackets__header {
    font-size: 3.125rem;
    line-height: 64px;
    margin-bottom: 1.5rem;
    max-width: 260px;
}

.rackets__header-span {
    font-weight: 700;
}

.rackets__info {
    margin-bottom: 1rem;
    max-width: 303px;
}

.rackets__slider-dots {
    margin-bottom: 2rem;
}

.rackets__slider-dots .slick-dots {
    display: flex;
        align-items: center;
        justify-content: flex-start;
}

.rackets__slider-dots .slick-dots li {
    display: inline-block;
}

.rackets__slider-dots .slick-dots li:not(:last-child) {
    margin-right: 1.5rem;
}

.rackets__slider-dots .slick-dots li button {
    background-color: var(--gray-light-2);
    border-radius: 100px;
    border: none;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    width: 8px;
    height: 8px;
    padding: 0.25rem;
    transition: all 0.3s ease-in-out;
}

.rackets__slider-dots .slick-dots li.slick-active button {
    background-color: var(--yellow);
}

.rackets__slider-btns {
    display: flex;
        align-items: center;
        justify-content: flex-start;
}

.rackets__box-left #slick__previous,
.rackets__box-left #slick__next {
    border-radius: 100px;
    border: solid 1px transparent;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
    width: 54px;
    height: 54px;
    transition: all 0.3s ease-in-out;
}

.rackets__box-left #slick__previous:hover,
.rackets__box-left #slick__next:hover,
.rackets__box-left #slick__previous:focus,
.rackets__box-left #slick__next:focus {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
}

.rackets__box-left #slick__previous {
    background-color: transparent;
    border-color: var(--white);
    margin-right: 1.1875rem;
}

.rackets__box-left #slick__previous .slick__button-icon {
    transform: rotate(180deg);
}

.rackets__box-left #slick__next {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.rackets__box-right {
    width: calc( 100% - 530px );
    overflow-x: hidden;
    padding: 3.25rem 0 4.56rem 3.25rem;
}

.rackets__slider-wrapper {
    overflow: hidden;
}

.rackets__slider .slick-list.draggable {
    cursor: grab;
    padding-left: 0 !important;
}

.rackets__slider .slick-list.draggable:active {
    cursor: grabbing;
}

.rackets__item-box {
    margin-right: 2.25rem;
    max-width: 288px;
    position: relative;
    width: initial !important;
}

.rackets__number {
    background-color: var(--yellow);
    border-radius: 100px;
    color: var(--white);
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    width: 39px;
    height: 39px;
    position: absolute;
        left: 17px;
        top: 11px;
}

.rackets__img {
    width: 100%;
}

/* / rackets */

/* banner */

.banner {
    background-color: var(--blue-dark-1);
    background-image: url("../assets/img/action-athlete-ball@3x.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    min-height: 586px;
}

/* / banner */

/* footer */

.footer {
    background-color: var(--yellow);
    padding: 64px 78px 58px 63px;
}

.footer__row {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.footer__list {
    display: flex;
        justify-content: space-between;
    font-size: 0.8125rem;
    margin-bottom: 1.5rem;
}

.footer__item:not(:last-child) {
    margin-right: 4rem;
}

.footer__item {
    letter-spacing: 1.14px;
}

.footer__link {
    color: var(--blue-dark-1);
}

.footer__social-list {
    display: flex;
        align-items: center;
        justify-content: flex-start;
}

.footer__social-item {
    display: flex;
        align-items: center;
        justify-content: center;
}

.footer__social-item:not(:last-child) {
    margin-right: 0.75rem;
}

.footer__social-link {
    border: solid 2px var(--white);
    border-radius: 100px;
    padding: 10px;
}

.footer__social-icon {
    width: 14px;
}

.footer__logo {
    width: 55px;
}

/* / footer */

/* media queries */

@media only screen and (min-width: 90em) {

    html {
        font-size: 20px;
    }

}

@media only screen and (max-width: 67em) {

    .header {
        display: none;
    }

    .story {
        padding: 72px 1.5rem 67px 1.5rem;
    }

    .story__box-right {
        width: 100%;
    }

}

@media only screen and (max-width: 57.5em) {

    .hero {
        padding: 0 1.5rem;
    }

    .hero::before {
        display: none;
    }

    .story__row {
        flex-direction: column;
    }

    .story__box-left {
        margin-top: 0;
        margin-right: 0;
    }

    .story__btn {
        position: relative;
            top: unset;
            right: unset;
    }

    .story__info {
        margin-bottom: 1.5rem;
    }

    .rackets {
        flex-direction: column;
    }

    .rackets__box-left,
    .rackets__header {
        max-width: 100%;
    }

    .rackets__info {
        max-width: 469px;
    }

    .rackets__box-right {
        padding: 3.25rem 0 4.56rem 1.4rem;
        width: 100%;
    }

    .rackets__box-left {
        background-image: linear-gradient(
            rgba(0,0,0,0.1),
            rgba(0,0,0,0.1)),
            url("../assets/img/ball-color-court@2x.jpg");
        padding: 38px 1.5rem 62px;
    }

}

@media only screen and (max-width: 48em) {

    .hero__header,
    .story__header,
    .rackets__header {
        line-height: initial;
    }

    .footer {
        padding: 64px 1.5rem 58px 1.5rem;
    }

    .footer__row {
        flex-direction: column-reverse;
        max-width: 609px;
        margin: 0 auto;
    }

    .footer__logo {
        margin-bottom: 2rem;
    }

    .footer__social-list {
        justify-content: center;
    }

}

@media only screen and (max-width: 35em) {
    
    html {
        font-size: 14px;
    }

    .footer__item:not(:last-child) {
        margin-right: 2.5rem;
    }

}

@media only screen and (max-width: 30.3125em) {
    .story__header-span:nth-child(1) {
        display: block;
    }
}

@media only screen and (max-width: 26.5625em) {

    .footer__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

}