/* variables */

:root {
    --yellow: #cbe346;
    --blue-dark: #2b3049;
    --white: #fff;
    --gray-light: #f3f4f8;
}

/* / variables */

/* reset */

body {
    color: ;
    font-family: "HelveticaNeue", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.7;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

/* / reset */

/* reusable */

.btn {

}

/* / reusable */

/* story */

.story {
    background-color: var(--gray-light);
    padding: 72px 168px 67px 255px;
}

.story__row {
    display: flex;
        align-items: flex-start;
        justify-content: center;
}

.story__box-left {
    color: var(--yellow);
    font-size: 0.9375rem;
    letter-spacing: 1.87px;
    line-height: 2;
    margin-right: 3.1875rem;
    max-width: 174px;
    text-align: right;
    text-transform: uppercase;
}

.story__box-middle {
    max-width: 555px;
}

.story__header {
    font-size: 3.125rem;
    letter-spacing: 0.06px;
    line-height: 1.14;
    max-width: 555px;
}

/* / story */

/* hero */

.hero {
    background-color: var(--blue-dark);
    background-image: url("../assets/img/hero@3x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

/* / hero */

/* rackets */

.rackets {
    display: flex;
}

.rackets__box-left {
    background-color: var(--blue-dark);
    background-image: url("../assets/img/ball-color-court@3x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--white);
    padding: 38px 71px 62px 160px;
    max-width: 530px;
}

.rackets__header {
    font-size: 3.125rem;
    line-height: 64px;
    margin-bottom: 1.5rem;
    max-width: 260px;
}

.rackets__header-span {
    font-weight: 700;
}

.rackets__info {
    max-width: 303px;
}

.rackets__box-right {
    width: calc( 100% - 530px );
    overflow-x: hidden;
    padding: 3.25rem 0 4.56rem 3.25rem;
}

.rackets__slider {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.rackets__item-box {
    margin-right: 2.25rem;
    position: relative;
}

.rackets__number {
    background-color: var(--yellow);
    border-radius: 100px;
    color: var(--white);
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    width: 39px;
    height: 39px;
    position: absolute;
        left: 17px;
        top: 11px;
}

.rackets__img {
    max-width: 288px;
}

/* / rackets */

/* banner */

.banner {
    background-color: var(--blue-dark);
    background-image: url("../assets/img/action-athlete-ball@3x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 586px;
}

/* / banner */

/* footer */

.footer {
    background-color: var(--yellow);
    padding: 64px 78px 58px 63px;
}

.footer__row {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.footer__list {
    display: flex;
        justify-content: space-between;
    font-size: 0.8125rem;
    margin-bottom: 1.5rem;
}

.footer__item:not(:last-child) {
    margin-right: 4rem;
}

.footer__item {
    letter-spacing: 1.14px;
}

.footer__link {
    color: var(--blue-dark);
}

.footer__social-list {
    display: flex;
        align-items: center;
        justify-content: flex-start;
}

.footer__social-item {
    display: flex;
        align-items: center;
        justify-content: center;
}

.footer__social-item:not(:last-child) {
    margin-right: 0.75rem;
}

.footer__social-link {
    border: solid 2px var(--white);
    border-radius: 100px;
    padding: 10px;
}

.footer__social-icon {
    width: 14px;
}

.footer__logo {
    width: 55px;
}

/* / footer */

/* media queries */